* {
  padding: 1px;
  margin: 0;
}
body {
  font-size: 12px;
}
header {
  background: #3DC4FC;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.home-images {
  width: 100%;
}

.beer-list-container {
}
.list-image {
  width: 25%;
  padding: 3%;
}
.list-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.list-details {
  width: 70%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listStyle {
  display: flex;
  height: 22vh;
  border-bottom: 1px solid grey;
  padding: 5% 0 5% 0;
}
.fa-home {
  font-size: 45px;
  color: white;
}
.single-beer {
  display: flex;
  flex-direction: column;
  padding: 5%;
  
}
.single-beer-image {
  text-align: center;
  padding: 5%;
}
.single-beer-image img {
  width: 40vw;
  height: 45vh;
  object-fit: contain;
}