/* @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
  width: 100vw;
  font-family: 'Righteous', cursive;
}
body {
  background-image: url('./images/urban-45trans.png');
  background-color: hsla(200,40%,30%,.4);
  background-color: rgb(158 92 0);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.App {
  height: 100vh;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-image: url('./images/city-scape2.png'),
                    url('./images/city-scape-shadow-blur.png');
}
footer {
  background-image: url('./images/turnt.png');
  background-size: 100% 100%;
  width: 150%;
  height: 50vh;
  position: absolute;
  bottom: -15%;
  left: -15%;
}
nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  background: #7F3611;
  align-items: center;
}
.neo-list {
  display: flex;
  align-items: center;
}
.neo-list li {
  height: 20px;
  color: rgb(233, 233, 233);
  list-style-type: none;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
  background: #7F3611;
  box-shadow:  20px 20px 60px #341607,
               -20px -20px 60px #ac4a17;
}
h1 {
  color: white;
  letter-spacing: 3px;
  font-size: 50px;
  text-shadow: -6px 11px 5px #58260c;
}
.Home {
  text-align: center;
} */
* {
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
  width: 100vw;
  font-family: 'Archivo', sans-serif;
}
.App {
  height: 90vh;
  margin-bottom: 40px;
}
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
.neo-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.social-list {
  display: flex;
}
.social-list li {
  height: 30px;
  width: 35px;
  color: #ec6aa0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #464646, -4px -4px 8px #717171;
}
.neo-list li {
  height: 40px;
  width: 40px;
  list-style-type: none;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  /* background: #e0e0e0; */
  box-shadow: 4px 4px 8px #464646,
             -4px -4px 8px #717171;
} 
.Home {
  height: 100%;
  background-image: url('./images/house-arrest.gif');
  background-position-x: 50%;
  /* background-image: url('./images/bg2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 15vh;
  background: #5c5c5c;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -5px 5px 5px #4646469e;
}
.main-stuff {
  width: 100%;
  height: 60vh;
  box-shadow: 0px -5px 6px 4px #4848487a;
  background: #5c5c5c;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.middle-stuff {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #20cfac;
  box-shadow: inset 2px 2px 5px 2px #1aa68a, inset -2px -2px 4px 2px #3fffd9;
}
header {
  /* background-image: url('./images/house-arrest.gif'); */
  background-size: cover;
  height: 18vh;
  width: 100%;
}
.bottom-stuff {
  width: 95%;
  height: 96%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #5c5c5c;
  box-shadow: 2px 2px 4px 2px #1aa589, -2px -2px 3px 2px #3fffd9;
}

.hammy {
  width: 35px;
  height: 5px;
  background-color:#ec6aa0;
  margin: 6px;
}
.suggestions {
  width: 85%;
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-area {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: #5c5c5c;
  box-shadow: inset 8px 8px 8px #464646,
              inset -8px -8px 8px #717171;
}
.button-text {
  height: 20px;
  width: 95%;
  padding: 8px;
  border-radius: 25px;
  margin-bottom: 15px;
  color: #5c5c5c;
  background: #F0F3C8;
  /* background: #e0e0e0; */
  box-shadow: 4px 4px 8px #464646,
             -4px -4px 8px #717171;
}
.sug-2 {
  margin-top: 20px;
}
.text-area p {
  background: linear-gradient(to right, #fc4c8f 0%, #d353fd 100%);
  text-shadow: 0px 0px 8px #ff005e;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* .record-button {
  background-image: url('./images/mic.svg');
  background-size: contain;
  background-repeat: no-repeat;
} */
.button-icons {
  height: 2.3em;
  width: 2.3em;
  filter: invert(95%) sepia(12%) saturate(656%) hue-rotate(21deg) brightness(107%) contrast(91%);
}
.social-icons {
  height: 1.5em;
  width: 1.5em;
  filter: invert(42%) sepia(65%) saturate(2055%) hue-rotate(310deg) brightness(100%) contrast(98%);
}
.social-buttons {
  width: 100%;
  height: 38%;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 5px 5px 0px #3fffd9;
}
.nav-buttons {
  width: 100%;
  height: 55%;
  display: flex;
  box-shadow: 1px -5px 5px 0px #3fffd9;;
}